// Code

group Common

  source http://nuget.org/api/v2

  nuget Aether                 ~> 8.1
  nuget Freya.Types.Http       ~> 3.0.0-rc
  nuget Freya.Types.Http.Cors  ~> 3.0.0-rc
  nuget Freya.Types.Http.Patch ~> 3.0.0-rc
  nuget Freya.Types.Uri        ~> 3.0.0-rc

group Async

  source http://nuget.org/api/v2

  nuget Freya.Core ~> 3.0.0-rc

group Hopac

  source http://nuget.org/api/v2

  nuget Freya.Core.Hopac ~> 3.0.0-rc

// Build

group Build

  source http://nuget.org/api/v2

  nuget Fake
  github xyncro/build build.fsx

// Test

group Test

  framework: >= net45
  source http://nuget.org/api/v2

  nuget Freya.Testing        ~> 3.0.0-rc
  nuget Unquote
  nuget xunit
  nuget xunit.runner.console

