type project
id
    Freya.Optics.Http
title
    Freya.Optics.Http
description
    Freya Optics for access to core HTTP properties of requests and responses
tags
    functional, web, f#, http, optics, aether, freya
version
    3.0.0-rc01
owners
    Andrew Cherry, Ryan Riley
authors
    Andrew Cherry, Ryan Riley
copyright
    Copyright Xyncro Ltd 2016
projectUrl
    https://freya.io
licenseUrl
    https://github.com/xyncro/freya-optics/blob/master/LICENSE.md
requireLicenseAcceptance
    false